html,body {margin:0;padding:0;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif}
table,input {width:100%}
a {color:green}
a:hover {color:lightseagreen}
h1 {text-align:center;color:#0000cc}
h2 {margin-top:0}
form {margin:0}
input.plane {padding:3px 10px;border:1px solid #808080}
#content .warning-message {font-size:14px;color:#eea236}
#content ul li {list-style:none;padding:5px;border-bottom:1px solid #A0A0A0;overflow:hidden}
#content ul li > a img {float:left;margin-right:20px; border:0}
#content ul li:after {clear:both}
#content ul li .movie-title {color:#0c506f; font-weight:bold}
#content ul li.movie .cast {padding:5px; border-bottom:1px solid lightseagreen;overflow:hidden;min-width:240px}
#content ul li.movie .cast img {width:40px;margin-right:10px;float:left}
#content ul li.movie .cast p {font-size:12px}
#content ul li.movie .casts,
#content ul li .no-photo {float:left}
#content ul li .no-photo {margin-right:20px}
#content .title {text-align:center}
#content .title-label {color:#7c7c7c}

#result {width:80%;min-width:320px;max-width:768px;margin:0 auto}

.box-wrapper {margin:10px auto;width:400px;border:1px solid #A0A0A0;padding:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;}
.box-wrapper form button {padding:6px 8px;font-size:14px;position:relative;float:right}

div.no-photo {width:154px; border:1px solid grey; text-align:center; padding-top:70px; height:130px}
