<?php
/**
 * Created by   : Dmitry Shirokovskiy.
 * Email        : info@phpwebstudio.com
 * Date         : 17.07.18
 * Time         : 14:15
 * Description  :
 */
include "head.phtml";
include "header.phtml";
?>
<div class="box-wrapper">
<h2>SEARCH FORM</h2>
<form action="#" id="form-container">
<table>
    <tr>
        <td>&nbsp;</td>
        <td>
            <table>
                <tr>
                    <td width="10"><input type="radio" id="movies" name="search_type" value="movies" class="plane" checked/></td>
                    <td><label for="movies">&mdash; movies</label></td>
                    <td width="10"><input type="radio" id="actors" name="search_type" value="actors" class="plane"/></td>
                    <td><label for="actors">&mdash; actors & actresses</label></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>Search term:</td>
        <td><input type="text" id="search-term" name="search-term" value="" class="plane" maxlength="255"/></td>
    </tr>
    <tr>
        <td colspan="2"><button type="submit" id="search-btn">Search</button></td>
    </tr>
</table>
</form>
</div>
<hr>

<div id="result"></div>

<?php include "footer.phtml" ?>
