<?php
/**
 * Created by   : Dmitry Shirokovskiy.
 * Email        : info@phpwebstudio.com
 * Date         : 17.07.18
 * Time         : 15:00
 * Description  :
 */
?>
<html>
<head>
    <title>TheMovieDB Search App</title>
    <link rel="shortcut icon" type="image/icon" href="https://www.themoviedb.org/favicon.ico"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script language="JavaScript" src="lib/js/gui.js"></script>

    <link rel="stylesheet" type="text/css" href="lib/css/styles.css"/>
</head>
<body>
<!-- content in templates -->
