<?php
/**
 * Created by   : Dmitry Shirokovskiy.
 * Email        : info@phpwebstudio.com
 * Date         : 17.07.18
 * Time         : 14:56
 * Description  :
 */
?>
<div id="content">
    <h2 class="title">RESULTS</h2>
    <ul>
    <?php if (is_array($movies) && !empty($movies)) {
        foreach ($movies as $movie) {
            echo '<li class="movie">';
            if (!empty($movie->getPoster())) {
                echo '<a href="https://www.themoviedb.org/movie/' . $movie->getID() . '" target="_blank"><img src="' . $tmdb->getImageURL('w154') . $movie->getPoster() . '"/></a>'; // w154, w185, w342, w500 etc.
            } else {
                echo '<div class="no-photo">no poster</div>';
            }
            echo '<p><span class="title-label">Movie title:</span> <span class="movie-title">' . $movie->getTitle() . '</span> (<a href="https://www.themoviedb.org/movie/' . $movie->getID() . '" target="_blank">ID: ' . $movie->getID() . '</a>)</p>' . PHP_EOL;

            $movie->setAPI($tmdb);
            $movie->loadCasting();
            $casts = $movie->get('casts');

            if (is_array($casts['cast']) && !empty($casts['cast'])) {
                echo '<div class="casts"><span  class="title-label">Casts:</span>' . PHP_EOL;
                $i = 0;
                foreach ($casts['cast'] as $cast) {
                    # $cast['gender']
                    echo '<div class="cast">';
                    if (!empty($cast['profile_path'])) {
                        echo '<a href="https://www.themoviedb.org/person/' . $cast['id'] . '" target="_blank"><img src="' . $tmdb->getImageURL('w92') . $cast['profile_path'] . '"/></a>' . PHP_EOL;
                    }
                    echo '<p><a href="https://www.themoviedb.org/person/' . $cast['id'] . '" target="_blank">'.$cast['name'].'</a></p>' . PHP_EOL;
                    echo '</div>'. PHP_EOL;

                    if (++$i >= 3) break;
                }
                echo '</div>' . PHP_EOL;
            }

            echo '</li>' . PHP_EOL;
        }
    } elseif (is_array($actors) && !empty($actors)) {
        foreach ($actors as $actor) {
            echo '<li class="actor">';
            if (!empty($actor->getProfile())) {
                echo '<a href="https://www.themoviedb.org/person/' . $actor->getID() . '" target="_blank"><img src="' . $tmdb->getImageURL('w154') . $actor->getProfile() . '"/></a>'; // w154, w185, w342, w500 etc.
            } else {
                echo '<div class="no-photo">no photo</div>';
            }
            echo '<p>' . $actor->getName() . ' (<a href="https://www.themoviedb.org/person/' . $actor->getID() . '" target="_blank">ID: ' . $actor->getID() . '</a>)</p>' . PHP_EOL;
            echo '<p><span class="title-label">&starf; Popularity:</span> ' . $actor->getPopularity() . '</p>' . PHP_EOL;

            if (!empty($actor->getMovieRoles())) {
                echo '<p>Movie roles:</p>' . PHP_EOL;
            }
            foreach ($actor->getMovieRoles() as $role) {
                echo '<p>' . $role->getMovieTitle() . '</p>' . PHP_EOL;
            }

            echo '</li>' . PHP_EOL;
        }
    } else { ?>
        <span class="warning-message">No results</span>
    <?php } ?>
    </ul>
</div>
